*{
    /* This is a universal selector whatever you write here is applied to everything */
 
}

body {
    background-color: #f3f2ef;
}

header {
    background-color: white;
}

.mid-text {
    font-weight: bolder;
    font-size: medium;
}

#head-text {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

input[disabled] {
    background-color: beige;
}

h1, h3 {
    background-color: red;
}

div span {
    /* Descendant Combinator */
    background-color: burlywood;
}

div .extra {
    /* Deep Descendant */
    text-decoration-line: underline;
}

div > .mid-text {
    /* Child Combinator */
    color: #00CCBF;
}

h2 ~ h4 {
    /* Sibling Combinator */
    background-color: chocolate;
}

h1 + h3 {
    /* Adjacent Sibling Selector */
    color: bisque;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: brown;
}

div::before {
    content: "```";
}

div::after {
    content: "```";
}

div :first-child {
    /* this will style the first child inside div */
    font-size: smaller;
}
 
div:first-child {
    /* this will style the div which is first child of any tag/element */
    font-size: smaller;
}

li:nth-child(even) {
    /* it will style every even row in a list or table */
    background-color: yellow;
}