*{
    /* This is a universal selector whatever you write here is applied to everything */
 
}

body {
    background-color: #f3f2ef;
}

header {
    background-color: white;
}

.mid-text {
    font-weight: bolder;
    font-size: medium;
}

#head-text {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

input[disabled] {
    background-color: beige;
}

h1, h3 {
    background-color: red;
}

div span {
    /* Descendant Combinator */
    background-color: burlywood;
}

div .extra {
    /* Deep Descendant */
    text-decoration-line: underline;
}

div > .mid-text {
    /* Child Combinator */
    color: #00CCBF;
}

h2 ~ h4 {
    /* Sibling Combinator */
    background-color: chocolate;
}

h1 + h3 {
    /* Adjacent Sibling Selector */
    color: bisque;
}