*{
    /* This is a universal selector whatever you write here is applied to everything */
 
}

body {
    background-color: #f3f2ef;
}

header {
    background-color: white;
}

.mid-text {
    font-weight: bolder;
    font-size: medium;
}

#head-text {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

input[disabled] {
    background-color: beige;
}