.grid {
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.turn-highlight {
  color: white;
}

.grid-wrapper {
  max-width: 500px;
  margin: 0px auto;
}

.reset {
  padding: 1rem;
  color: white;
  background-color: var(--resetGreen);
  border-radius: 10px;
  border: none;
  width: 100%;
}
