.checkout-title {
    margin-top: 1rem;
}

.checkout-wrapper {
    margin-top: 1rem;
}

.save-btn {
    margin-top: 2rem;
    max-width: 300px;
}

.input-group {
    margin-bottom: 0.5rem;
}

.btn.btn-primary {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

span {
    justify-content: center;
}