.product-details-wrapper {
    padding-top: 3rem;
}

.product-img {
    flex-basis: 30%;
}
.product-img img {
    width: 100%;
}

.product-details-box {
    flex-basis: 60%;  /* 60% for product details and around 30% for product picture rest 10% border or space etc */
}