html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* flex container */
#parent {
    border: solid red 10px;
    display: flex;
    height: 500px;
    /* flex-direction: column; (by default --> row)*/
    /* flex-wrap: wrap; To get full space according to content */  
    flex-flow: row wrap;
    justify-content: start; /* To arrange elements on main axis */
    align-items: center;/* To arrange elements on cross axis  */
    align-content: space-between; /* To arrange elements on cross axis  */
}

/* flex items */
#parent div {
    border: solid blue 2px;
    padding: 20px;
    background-color: bisque;
    min-width: 100px; /* minimum 100px for all child divs */
    /* max-width: 200px; */
    max-height: 100px;
}
/* Flex direction ==> Main Axis 
    flex-direction: row; --> Row Main Axis then othe is Cross Axis 
    fles-direction: column; --> Column Main Axis then othe is Cross Axis*/