:root {
    --teal: #031634;
    --cobalt: #033649;
    --turquoise: #066464;
    --biege: #CEB280;
    --gold: #EADDCC;
}
html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    /* Browser has some margin and padding by default so we need to reset it. */
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--teal);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* If we add margin in 2 elements vertically then it won't add (10px + 10px vert margin) ==> 10px
(20px + 10px vert margin) ==> 20px --> It will always take large value  */
