/* Style for ping pong game */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    margin-left: 20rem;
    margin-top: 2rem;
}

#ping-pong-table {
    border: 2px solid black;
    width: 900px;
    height: 400px;
    position: relative;
    margin-left: 12rem;
    margin-top: 2rem;
}

#paddle {
    background-color: blue;
    width: 10px;
    height: 75px;
    margin-left: 2px;
    position: absolute;
}

#ball {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
}